@model EatForHealth.Models.User
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/css/Register.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker").datepicker();
        });
    </script>
    <script type="text/javascript">
        function cancel() {
            location.href = 'Login';
        }
    </script>
</head>
<body>
    @using (Html.BeginForm("Register", "User", FormMethod.Post, new { name = "register" }))
    {
        <div id="first">
            <div class="ProPicture">
                <div class="Name">
                    Eat For Health
                </div>
            </div>
        </div>
        <div id="second" style="padding-top: 0px">
            <div class="input1">
                <div class="uname">
                    @Html.LabelFor(model => model.UserName, new { @style = "margin-right: 20px" })
                    @Html.TextBoxFor(model => model.UserName, new { @id = "uname", autocomplete = "off" })
                    <div>
                        @Html.ValidationMessageFor(model => model.UserName, null, new { @style = "font-size:20px; color:red" })
                    </div>
                </div>
                <div class="email">
                    &nbsp;@Html.LabelFor(model => model.Email, new { @style = "margin-right: 20px" })
                    @Html.TextBoxFor(model => model.Email, new { @id = "email", autocomplete = "off" })
                    <div>
                        @Html.ValidationMessageFor(model => model.Email, null, new { @style = "font-size:20px; color:red" })
                    </div>
                </div>
            </div>
            <div class="input2">
                <div class="password">
                    @Html.LabelFor(model => model.Password, new { @style = "margin-right: 20px" })
                    &nbsp;&nbsp;@Html.PasswordFor(model => model.Password, new { @id = "password" })
                    <div>
                        @Html.ValidationMessageFor(model => model.Password, null, new { @style = "font-size:20px; color:red" })
                    </div>
                </div>
                <div class="gender">
                    &nbsp;@Html.LabelFor(model => model.Gender, new { @style = "margin-right: 20px" })
                    @Html.RadioButtonFor(model => model.Gender, "1", new { @style = "width: 40px; height: 18px" }) boy
                    @Html.RadioButtonFor(model => model.Gender, "2", new { @style = "width: 40px; height: 18px" }) girl
                    <div>
                        @Html.ValidationMessageFor(model => model.Gender, null, new { @style = "font-size:20px; color:red" })
                    </div>
                </div>
            </div>
            <div class="input3">
                <div class="Dob">
                    @Html.LabelFor(model => model.DoB, new { @style = "margin-right: 20px" })
                    @Html.TextBoxFor(model => model.DoB, new {
                   @id = "datepicker",
                   style = "border: 0px; border-bottom: 2px solid black; " +
                   "background-color: inherit; outline: none; width: 180px; " +
                   "font-family: 'Comic Sans MS'; font-size: 20px;",
                   autocomplete = "off"
               })
                    <div>
                        @Html.ValidationMessageFor(model => model.DoB, null, new { @style = "font-size:20px; color:red" })
                    </div>
                </div>
            </div>
        </div>
        <div id="third">
            <div class="buttons">
                <input type="submit" id="btnReg" name="btnReg" value="register" style="margin-right: 20px" />
                <input type="button" id="btnCan" name="btnCan" value="cancel" onclick="cancel()" style="margin-left: 20px" />
            </div>
        </div>
        @Html.AntiForgeryToken()
    }
</body>
</html>